<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>wb-l0</title>
    <style>
      html {
        font-family: sans-serif;
      }

      .container {
        display: flex;
        flex-direction: column;
        gap: 1em;
      }

      .panel {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="panel">
        <label for="order_input">Order ID</label>
        <div>
          <input type="text" id="order_input" />
          <button type="button" id="order_btn">Send</button>
        </div>
      </div>
      <code id="order_text"></code>
    </div>
    <script>
      const btn = document.getElementById("order_btn");
      const input = document.getElementById("order_input");
      const text = document.getElementById("order_text");
      btn.addEventListener("click", async () => {
        const url = new URL("http://localhost:3000");
        url.searchParams.set("id", input.value);
        const resp = await fetch(url);
        text.textContent = await resp.text();
      });
    </script>
  </body>
</html>
